.channel-form {
    margin-top: 150px;
}

input[type="text"].channel-input {
    height: 50px;
    width: 100%;
    /*color: #fb0006;*/
    font-size: 2em;

    -webkit-input-placeholder {
        color: red;
    }
    -moz-placeholder {
        /* FF 4-18 */
        color: red;
    }
}

/*input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #fb0006;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #fb0006;
}*/

.channel-btn {
    margin: 0 auto;
    width: 90px;
    display: block;
}
