
<!-- <div class="header-section">
	<div class="row header-row">
		<div class="span12 masthead">
			<h1 class="heading">Welcome Home.</h1>
		</div>
	</div>
</div>
<div class="header-push">

</div> -->
<div class="text-center" style="margin-top: 20px">
	<p>Download MilliSync IOS</p>
	<a href="https://itunes.apple.com/us/app/millisync/id891566592?mt=8&uo=4" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.svg);}"></a>
</div>

<div style="margin-top: -30px">
	<form class="form-horizontal channel-form" role="form" ng-submit="processForm()">
		<div class="form-group">
			<div class="col-md-offset-2 col-md-8">
    			<input type="text" class="channel-input form-control"
			 	name="channel" placeholder="Enter channel" ng-model="formData.channel">
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-default channel-btn">Go</button>
		</div>
	</form>
</div>

<div style="background-color: whitesmoke; margin-top: 50px">
	<section class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3 class="text-center" style="color: black">What is MilliSync</h3>
			<p>MilliSync is a <strong>lightweight</strong> cloud service that lets you share cards (notes) between devices and friends with one link.</p>
		</div>
		<div class="col-md-8 col-md-offset-2" style="margin-top: 10px">
			<p>1. Pick a string as channel for your card.</p>
			<p>2. Edit the card with anything you want if it's not occupied.</p>
			<p>3. Revisit the card from any device or share with your friends.</p>
			<p>4. Card will be deleted after 24 hour.</p>
		</div>
	</section>
</div>
